html {
    font-size: 62.5%;
    font-family: 'DK Crayon Crumble', sans-serif;
                                                
}

body {
    font-size: 16px;
    background-color: rgb(196, 48, 48);
    /* background-image: url("fondo_niños (3).png"); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}
.Log_in{
    background-image:  url("./fondo_principal1.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto auto auto;
    border-style: solid;
    border-radius: 3rem;
    margin: 5rem 25rem;
    padding-bottom: 20rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.escudo{
    display: grid;
}
.Log_in p{
    margin-left: 5rem;
    font-size: 1.5rem;
}
.usuario{
    background-color: greenyellow;
    border-radius: 3rem;
    opacity: 0.8;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 2rem;
}
.usuario h1{
    font-size: 2rem;
    color: black;
}
.botones{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.botton{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.botton:hover{
    transform: scale(1.3);
}


