html {
    font-size: 62.5%;                                         
}
body {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    background-image:url('./fondo3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#cabecera{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-right: 15rem;
}
#contenido{
    display: grid;
    gap: 2rem;
    margin-left: 10rem;
    grid-template-columns: auto auto auto;
}
#contenido .card{
    border-style: solid;
    border-color: red;
    border-radius: 2rem;
    border-width: 0.3rem;
}
#contenido a{
    font-size: 1.5rem;
    background-color: red;
    padding: 1.2rem;
}
#contenido img{
    border-radius: 2rem;
}