*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 20px;
}


p{
    color: rgb(15, 15, 15);
}

html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-size: 16px;
    background-color: rgb(210, 209, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


header{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px; 
    background-color: rgb(5, 11, 58);
}

.nombre{
    color: white;
}

.seccion{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
}

.detalle a{
    background-color: rgb(31, 31, 96);
    color: white;
    width: 415px;
    border-radius: 6px;
    padding: 1rem;
    margin-top: .7rem;
    text-align: center;
}
.detalle p{
    color: white;
    text-decoration:underline;
}

.detalle p:hover{
    background-color:rgb(106, 106, 226) ;
}
.detalle a:hover{
    background-color:rgb(106, 106, 226) ;
}
